@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #353a324c;
  }
  

/* Apply globally to all scrollbars */
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

/* Thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



  
/* Style for the image hover motion effect */
.image-hover-motion {
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-hover-motion:hover {
  transform: scale(1.05) translateX(10px) translateY(-5px) rotateY(10deg); 
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); 
}
.animated-name {
  display: inline-block; 
  overflow: hidden; 
  white-space: nowrap; 
  animation: typing 3s steps(14, end), blink 0.5s step-end infinite alternate;
  border-right: 2px solid #00bfff; 
}


.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Keeps the video behind the content */
}


/* <div className="min-h-screen w-full bg-gradient-to-r from-black via-red-800 to-black"> */
/* 
.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.cube-face {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
}

.cube-face.front {
  transform: rotateY(0deg) translateZ(100px);
}

.cube-face.back {
  transform: rotateY(180deg) translateZ(100px);
}

.cube-face.right {
  transform: rotateY(90deg) translateZ(100px);
}

.cube-face.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.cube-face.top {
  transform: rotateX(90deg) translateZ(100px);
}

.cube-face.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

 */
